streamlit

groq

python-dotenv

pandas
pandasql

chromadb

semantic-router

sentence-transformers
transformers

torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

langchain-huggingface

protobuf

pysqlite3-binary

tiktoken
