streamlit

groq

python-dotenv

pandas
pandasql

chromadb

semantic-router

sentence-transformers
transformers

torch torchvision torchaudio 

langchain-huggingface

protobuf

pysqlite3-binary

tiktoken
