streamlit==1.46.1

pandas==2.2.2
pandasql==0.7.3

python-dotenv==1.0.1

groq==0.30.0

chromadb==0.5.5

semantic-router==0.0.72

sentence-transformers==2.7.0
transformers==4.41.2

torch==2.3.0
torchvision==0.18.0

langchain-huggingface==0.0.3

protobuf==3.20.3

pysqlite3-binary
